altair @ file:///croot/altair_1738916159622/work
asttokens==3.0.0
attrs @ file:///croot/attrs_1734533101012/work
backcall==0.2.0
beautifulsoup4==4.13.3
bleach==6.2.0
blinker @ file:///croot/blinker_1737448726027/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///croot/brotli-split_1736182456865/work
cachetools @ file:///croot/cachetools_1738224668060/work
certifi @ file:///croot/certifi_1738623731865/work/certifi
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///croot/click_1698129812380/work
contourpy @ file:///croot/contourpy_1732540045555/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
executing==2.2.0
fastjsonschema==2.21.1
filelock @ file:///croot/filelock_1700591183607/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1738940287426/work
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///croot/gitpython_1720455034730/work
gmpy2 @ file:///croot/gmpy2_1738085463648/work
h5py @ file:///croot/h5py_1737051113867/work
idna @ file:///croot/idna_1714398848350/work
ipython==8.12.3
jedi==0.19.2
Jinja2 @ file:///croot/jinja2_1737760107953/work
joblib @ file:///croot/joblib_1718217211762/work
jsonschema @ file:///croot/jsonschema_1728486696720/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kiwisolver @ file:///croot/kiwisolver_1737039087198/work
llvmlite @ file:///croot/llvmlite_1738678349418/work
markdown-it-py @ file:///croot/markdown-it-py_1684279902645/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl @ file:///work/ci_py311/mdurl_1676827289376/work
mistune==3.1.1
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mpmath @ file:///croot/mpmath_1690848262763/work
munkres==1.1.4
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
networkx @ file:///croot/networkx_1720002482208/work
numba @ file:///croot/numba_1738945520836/work
numexpr @ file:///croot/numexpr_1730215937391/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=5f96f274d410a1682519282ae769c877d32fdbf171aa8badec7bf5e1d3a1748a
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas==1.5.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow @ file:///croot/pillow_1738010226202/work
pipreqs==0.5.0
platformdirs==4.3.6
prompt_toolkit==3.0.50
protobuf==3.20.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==11.0.0
pydeck @ file:///croot/pydeck_1738340956155/work
Pygments @ file:///croot/pygments_1684279966437/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1738317518727/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq==26.2.1
referencing @ file:///croot/referencing_1699012038513/work
requests @ file:///croot/requests_1730999120400/work
rich @ file:///croot/rich_1732638981168/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
scikit-learn @ file:///croot/scikit-learn_1737988764076/work
scipy @ file:///croot/scipy_1737122901252/work/dist/scipy-1.15.1-cp311-cp311-linux_x86_64.whl#sha256=048e40b8deebf0ccfe0cf843559ee4dc13474fc38de33e83860d18ff8cdb1463
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sklearn-pandas @ file:///home/conda/feedstock_root/build_artifacts/sklearn-pandas_1620483185865/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
soupsieve==2.6
stack-data==0.6.3
streamlit @ file:///croot/streamlit_1737558446527/work
sympy @ file:///croot/sympy_1738108488918/work
tenacity @ file:///croot/tenacity_1730302500303/work
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
tinycss2==1.4.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
toolz @ file:///croot/toolz_1736796253816/work
torch==2.5.1
torchaudio==2.5.1
torchtuples @ file:///home/conda/feedstock_root/build_artifacts/torchtuples_1735650365045/work
torchvision==0.20.1
tornado @ file:///croot/tornado_1733960490606/work
traitlets==5.14.3
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
unicodedata2 @ file:///croot/unicodedata2_1736541023050/work
urllib3 @ file:///croot/urllib3_1737133630106/work
watchdog @ file:///croot/watchdog_1717166512516/work
wcwidth==0.2.13
webencodings==0.5.1
yarg==0.1.9
